*{
    padding: 0;
    margin: 0;
    background-color: #c5f1a8;
}
#scoreTally {
    font-size: 80px;
    font-family: 'Odibee Sans', cursive;
    text-align: left;
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 30px;
    padding: 25px;
}
.canvas {
    padding: 100px;
    display: flex;
    justify-content: center;
}

#game {
    width: 1000px;
    height: 400px;
    border: 2px solid black;
    background-image: url("./assets/bluesky.png");
    background-color: #c5f1a8;
    position: relative;
    top: 50px;
}

#character{
    width: 60px;
    height: 100px;
    background: none;
    position: relative;
    top: 260px;
    left: 20px;
    animation: jump 500ms infinate;
}
@keyframes jump {
    0%{top: 150px;} 
    10%{top: 140px;}  
    20%{top: 130px;}
    30%{top: 120px;}
    40%{top: 110px;}
    50%{top: 100px;}
    60%{top: 110px;}
    70%{top: 120px;}
    80%{top: 130px;}
    90%{top: 140px;}
    100%{top: 150px;}
}
.animate{
    animation: jump 500ms;
}

#block {
    width: 60px;
    height: 60px;
    position: relative;
    top: 260px;
    left: 960px;
    animation: block 1.5s infinite linear;
}
@keyframes block {
    0%{left:960px;}
    100%{left:-80px;}
}